server:
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: never
  port: 8080
  servlet:
    context-path: /bank/api

spring:
  datasource:
    password: password
    url: jdbc:postgresql://localhost:5432/bankapi
    username: techprodb_user
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
  servlet:
    multipart:
      max-request-size: 2MB
      max-file-size: 2MB
  data:
    web:
      pageable:
        default-page-size: 5
  h2:
    console:
      enabled: true
      path: /h2console
  thymeleaf:



backendapi:
  app:
    jwtSecret: bankApiSecretKey
    jwtExpirationMs: 86400000